@model IEnumerable<Storage.Entidades.Produtos>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header"> Pesquisar Produtos</div>
    <div class="card-body">
        <form action="/Produtos/index" method="get">
            <div class="row">
                <div class="col-2">
                    <a href="/Produtos/Create" class="btn btn-success">Novo Produto</a>
                </div>
                <div class="col-2">
                    <select name="tipoPesquisa" class="form-control">
                        <option value="Todos">Pesquisar por todos</option>
                        <option value="Nome">Pesquisar por nome</option>
                        <option value="Preco">Pesquisar por preco</option>
                    </select>
                </div>
                <div class="col-4">
                    <input type="text" name="query" class="form-control" placeholder="Pesquise o Item">
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeEstoque)
            </td>
            <th>
                 @item.categoria.Nome
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
